:root {
    --maintextcolor: #c9d1d9;
    --maintextcolorhover: #a5b2c0;
    --header-background: rgb(22,27,34);
}


html {
    scroll-behavior: smooth;
    background: #131723;
    background-color: #131723;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: SFMonoRegular;
    font-style: normal;
    font-weight: normal;
    src: local('SF Mono Regular'), url('fonts/sfmono/SFMonoRegular.woff') format('woff');
}

@font-face {
    font-family: SFProMedium;
    src: url('fonts/sfpro/SFPRODISPLAYMEDIUM.OTF');
}

@font-face {
    font-family: SFProBold;
    src: url('fonts/sfpro/SFPRODISPLAYBOLD.OTF');
}

body {
    margin: 0;
    background-color: #131723;
    min-height: 50%;
    color: #BBBBBB;
    overflow-y: scroll;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.header-div {
    color: var(--maintextcolor);
    text-align: center;
}

.centered {
    margin: 0 auto;
}

.center-container {
    display: flex;
    justify-content: center;
}

.h2-title {
    font-family: SFMonoRegular;
    color: #c9d1d9;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.sub-category {
    margin-bottom: 5vh;
    font-family: SFMonoRegular;
    color: #f0f2f4;
    font-size: 8vw;
}

.sub-category-content {
    font-family: SFProMedium;
    color: #c9d1d9;
    font-size: 3vw;
}

.t {
    font-family: SFProBold;
}

.transition-fade-out {
    opacity: 1;
    transition: 350ms;
    transform: translateX(0);
}

html.is-animating .transition-fade-out {
    opacity: 1;
    transform: translateY(-100%);
}

html.is-leaving .transition-fade-out {
    opacity: 0;
    transform: translateY(100%);
}

.transition-down-up {
    opacity: 1;
    transition: 300ms;
    transform: translateY(0);
}

html.is-animating .transition-down-up {
    opacity: 1;
    transform: translateY(-7rem);
}

html.is-leaving .transition-down-up{
    opacity: 0;
    transform: translateY(-7rem);
}

.transition-up-down {
    opacity: 1;
    transition: 300ms;
    transform: translateY(0);
}

html.is-animating .transition-up-down {
    opacity: 1;
    transform: translateY(50vh);
}

html.is-leaving .transition-up-down{
    opacity: 0;
    transform: translateY(50vh);
}

.transition-right {
    transition: 500ms;
    transform: translateX(0);
}

html.is-animating .transition-right {
    transform: translateX(100%);
}

html.is-leaving .transition-right{
    transform: translateX(-100%);
}

.transition-left {
    transition: 500ms;
    transform: translateX(0);
}

html.is-animating .transition-left {
    transform: translateX(-100%);
}

html.is-leaving .transition-left{
    transform: translateX(100%);
}

main {
    margin-top: 15vh;
    width: 100%;
}

header {
    background: var(--header-background);
    font-family: SFProBold;
    text-align: center;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--header-background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
    margin-bottom: 10em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}


.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav a {
    color: var(--maintextcolor);
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 125ms ease-in-out;
}

nav a:hover {
    color: var(--maintextcolorhover);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.content-margin {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.logo {
    text-decoration: none;
    color: var(--maintextcolor);
    font-size: 2em;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
        text-decoration: none;
        position: relative;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: white;
        position: absolute;
        top: -135%;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}